* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #eef5db;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.clock {
  width: 550px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/clock.png);
  background-size: cover;
  border-radius: 50%;
  box-shadow: #c7efcf;
  background-color: #c7efcf;
}
.clock:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 10000;
}
.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}
.clock .hour,
.hr {
  width: 200px;
  height: 200px;
}
.clock .min,
.mn {
  width: 230px;
  height: 230px;
}
.clock .sec,
.sc {
  width: 260px;
  height: 260px;
}
.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.hr:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100px;
  background: #ff105e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 110px;
  background: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 170px;
  background: #fff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

#time {
  font-size: 40px;
  text-align: center;
  color: #392f5a;
}
